@font-face {
    font-family: 'Sharp Grotesk Book 25';
    src: url('SharpGrotesk-Book25.woff2') format('woff2'),
        url('SharpGrotesk-Book25.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




